# PyInstallerによるビルド生成物
dist/
build/
__pycache__/
*.spec
FileMoverApp/
encrypted_credentials/
*.zip

# 認証系・秘密鍵
credentials.json
token.pickle

# ローカル設定ファイル
config_local.json
debug_log.txt
error.log
build_distribute.bat

# VSCodeなどIDEのメタファイル
.vscode/
*.code-workspace

# その他OS依存
.DS_Store
Thumbs.db